@font-face {
    font-family: myFont;
    src: url(Rust.TTF) ;
}
@font-face {
    font-family: winnerFont;
    src:url(ARR.ttf);
}
.Header{
    font-family: myFont, serif;
    font-size: 130px;
    color: #21b8c2;
}

body {
    background: radial-gradient(circle, #f1f1f1, #706d6b);
}
.startButton{
    background-color: darkolivegreen;
    color: purple;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    font-size: 19px;
}

.winnerMessage{
    font-family: winnerFont, serif;
    font-size: 59px;
    text-align: center;
    text-decoration-line: none;
}
.body{
    background-color: black;
}

:root {
    --size: 100px;

}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
