.DropZoneArea {
    display: grid;
    grid-template-columns: repeat(7, 99px);
    outline-color: #e2e5a0;
    outline-style: auto;
    gap: 1px;
    height: 100px;
    background-color: #feffd9;
}
.DropZoneArea div {
    background-color: rgba(0,0,0,0.1); /* Slight visual for each column */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.DropZoneArea div:hover {
    background-color: rgba(0,0,0,0.2); /* Darken column on hover for feedback */
}


